@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Roboto:wght@100&display=swap');

body {
    background-image:url("pics/blue-brushstrokes-background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.inner {
    font-family: 'Playfair Display', serif;
    padding: 10px;
   margin-top: 10%;
   margin-right: 30%;
   margin-left: 30%;
   width: 30%;
   height: 50%;
   background-color: rgb(18, 156, 236) ;
   color: rgb(6, 88, 61);
   
  
}
#buton{
    background-color: rgb(0, 0, 0);
    padding: 10px 15px 10px 15px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 50%;
    color: white;
    margin: 0 auto;
}
#buton:hover{
   
    border: 1px solid rgb(148, 40, 40);
 
}

 h2{
    padding:7px 7px 7px 7px ;
    font-size: 25px;
 }
 ul li{
    padding:8px 8px 8px 8px;
    list-style:none ;
    font-style: italic;
 }

 @media only screen and (max-width: 600px) {
  
.inner{
width: 100%;
margin-right: 0%;

}
body{
 height: 100vh;   
}
}
#question{
    
}